@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Tebel page</h1>


<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">user</th>
      <th scope="col">passwrod</th>
      <th scope="col">status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Hanze</td>
      <td>cyuusuf</td>
      <td>xamzecade767</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>yaasin</td>
      <td>rashka</td>
      <td>bit@gmail.78</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>habesane</td>
      <td>kasim</td>
      <td><button type="button" class="btn btn-secondary">Regect</button>
<button type="button" class="btn btn-success">Accept</button></td>

    </tr>
  </tbody>
</table>


<button type="button" class="btn btn-primary">Dawnlod</button>
